

  <body>

    <dl>
      <dt> Welcome to Auto-mate v1.1.</dt>
      <br>  
      <dt>This time tracking tool is designed to challenge your perception of how you:</dt>
      <br>
      <ul>
          <li>spend time</li>
          <li>procrastinate</li>
          <li>get things done</li>
          <li>show you how much time you REALLY have</li>
        <br>
      <dt>The next version will be fully automated.</dt>
      <dt>It will also collect your email, and allow you to recover and update passwords.</dt>
      <dt>I hope you enjoy it.</dt>

    </dl>
  </body>
</html>
