

<form action="/login" method="post">
  <fieldset class="login">
    <dl>
      <dt>
        <label for='username'>Username:</label>
        <input class='text' type='text' name='username' placeholder='Username' required>
      </dt>
        
      <dt>
        <label for='password'>Password:</label>
        <input class='text' type='password' name='password' placeholder='Password' required>
      </dt>

    </dl>

    <%= link_to 'Back', homepage_path %>
    <button type='Submit' class="button">Submit</>
  </fieldset>
    <%=link_to 'Forgot Password?', reset_password_path%>
</form>